<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
    <ul class="title-area">
      <li class="name">
        <h1><a href="https://medium.com/@lamontefields">My Site</a></h1>
      </li>
   </ul>
   <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="http://launchpairpal.herokuapp.com/">My Site</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
