<!DOCTYPE html>
<html>
  <head>
    <title>Office Hours</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/foundation.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
