<div class="centered-content">
  <h1>Log In</h1>
    <table>
      <thead>
        <h3>Users</h3>
      </thead>
      <tbody>
      <form action="/users/log_in" method="post">
        <tr>
          <td><input type="text" name="user_name" placeholder="User Name:"/></td>
          <td><input type="password" name="user_pass" placeholder="Password:"/></td>
        </tr>
      </tbody>
  </table>
  <button class="button round" type="submit">
    Submit
  </button>
</form>
</div>
<!-- <table>
      <thead>
      <h3>Engineers</h3>
        <tr>
          <th>User:</th>
          <th>Password:</th>
        </tr>
      </thead>
      <tbody>
        <form action="/engineers/log_in" method="post">
        <tr>
          <td><input type="text" name="eng_name" value=""/></td>
          <td><input type="password" name="eng_pass" value=""/></td>
        </tr>
      </tbody>
    </table>
    <button class="button round" type="submit">
      Log In
    </button>
    <button class="button round">
      <a href="/sign_up">Sign Up</a>
    </button>
  </form> -->
