  <h1>Sign Up</h1>
    <table>
      <thead>
        <h3>Users</h3>
        <tr>
          <th>First Name:</th>
          <th>Last Name:</th>
          <th>Password:</th>
        </tr>
      </thead>
      <tbody>
        <form action="/users" method="post">
        <tr>
          <td><input type="text" name="user_first" value=""/></td>
          <td><input type="text" name="user_last" value=""/></td>
          <td><input type="text" name="user_pass" value=""/></td>
        </tr>
      </tbody>
    </table>
    <button class="button round" type="submit">
      Submit
    </button>
    </form>
    <table>
      <thead>
        <h3>Engineers</h3>
          <tr>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Password:</th>
          </tr>
        </thead>
        <tbody>
          <form action="/engineers" method="post">
          <tr>
            <td><input type="text" name="eng_first" value=""/></td>
            <td><input type="text" name="eng_last" value=""/></td>
            <td><input type="text" name="eng_pass" value=""/></td>
          </tr>
        </tbody>
      </table>
      <button class="button round" type="submit">
        Submit
      </button>
    </form>
