th {
  text-align: center;
  font: 20px 'Quicksand';
}

h1 {
  font-family: 'Quicksand', sans-serif;
  text-shadow: 3px 2px #d7ceb2;
  font: 70px 'Quicksand';
}

h3 {
  text-shadow: 2px 2px #d7ceb2;
  font: 40px 'Quicksand';
}

h4 {
  font: 'Quicksand';
  color: white;
}

body {
  text-align: center;
  background-image: url("../img/w-b-office_unsplash.jpeg");
  background-size: 100% 100%;
  background-attachment: fixed;
  font: 100px 'Quicksand';
  background-size: cover;
}

table {
	opacity: .85;
  margin: 0 auto;
}

.taken {
  background-color: white;
}

.button {
  background-color: black;
  font: 15px 'Quicksand';
  color: #d7ceb2;
  width:150px;
}

a {
  text-decoration: none;
  color: #d7ceb2;
}

.name {
  text-shadow: none;
}

#signed-in {
  margin-top: 17px;
  color: white;
  margin-right: 10px;
}

.header_space {
  margin-bottom: 40px;
}

.top-bar {
  height: 60px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 60px;
}

.top-bar-section ul li>a {
  font-family: 'Quicksand', sans-serif;
  font: 10px;
}

img {
  height: 50px;
  margin-top: 4px;
  margin-left: 2px;
}

.centered-content {
  position: relative;
  top: 15%;
  border: 2px, dashed, black;
}

table tr th, table tr td {
  text-align: center;
}
