th {
  text-align: center;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  text-shadow: 3px 2px #d7ceb2;
  font: 70px 'Quicksand';
}

h3 {
  text-shadow: 2px 2px #d7ceb2;
  font: 40px 'Quicksand';
}
body {
  text-align: center;
  background-image: url("../img/w-b-office_unsplash.jpeg");
  background-size: 100% 100%;
  background-attachment: fixed;
  font: 100px 'Quicksand';
  background-size: cover;
}

table {
	opacity: .85;
  margin: 0 auto;
}

.taken {
  background-color: white;
}

.button {
  background-color: black;
  font: 15px 'Quicksand';
  color: #d7ceb2;
  width:150px;
}

a {
  text-decoration: none;
  color: #d7ceb2;
}

.name {
  text-shadow: none;
}
